canvas {
    margin: auto;
    display: block;
    border-color: #840032;
}

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto;
    border-color: #840032;
    /* border-style: dotted; */
    background: #D5DFE5;
    color: #840032;
    vertical-align:  middle;
}

#duration {
    text-align: center;
    margin:auto;
    font-size: 4em;
}

#music, #openInfo, #restart {
    width: 4em;
}

#info, #restart, #sound {
    text-align: center;
    margin:auto;
}

.button.selected {
    background-color: rgba(255, 255, 255, 0.05);
}

.button {
    background-color: rgba(255, 255, 255, 0.7);
}

popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #D5DFE5;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #7F9172;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    width: 30em;
}

#title {
    font-size: 3em;
    text-align: center;
    color: #567568;
}

#text {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em; 
}

#buttons {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;   
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 1em;
    text-align: center;
}

.hidden {
    visibility: hidden;
}
